<%= form_for(@doctor) do |f| %>
  <% if @doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
      <% @doctor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.fields_for :specialty, include_id: false do |specialty_form| %>
      <%= specialty_form.label :specialty %><br />
      <%= specialty_form.collection_select :id,
        Specialty.order("name ASC"),
        :id, :name,
        {include_blank: true},
        {class: 'chosen-select'}
      %>
    <% end %>
  </div>
  <!--
  Specialty could not be changed when editing because the hidden id field generated
  after the select field overrode the value. http://stackoverflow.com/questions/10808731/stop-rails-from-generating-hidden-field-for-fields-for-method -->

  <div>
    . . . plus 15 other fields about the doctor . . .
    <p/>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
