<%= form_for(@doctor) do |f| %>
  <% if @doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
      <% @doctor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :specialty %><br />
    <%= f.collection_select :specialty_id,
      Specialty.order("name ASC"), :id, :name,
      {include_blank: true},
      {class: 'chosen-select'}
    %>
  </div>

  <div>
    . . . plus 15 other fields about the doctor . . .
    <p/>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
