<!DOCTYPE html>
<html>
<head>
  <title>Anaf</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<p/>
<p/>

<hr/>
<%= link_to "doctors", doctors_path %>
<%= link_to "specialties", specialties_path %>
<hr/>

<%= link_to image_tag("wolfmask.jpg"),
    "http://www.alaskanativearts.org/" %>

</body>
</html>
